<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="{{ url_for('draws.index') }}">
            <img src="{{ url_for('static', filename='enlightened_hexagon.png') }}" class="navbar-brand"
                style="width: 40px;" />
            IITC-DST
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_navbar">
            <ul class="navbar-nav">
                {% if g.current_user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_user_drop" data-toggle="dropdown">
                        <i class="far fa-user"></i>
                        {{ g.current_user['username'] }}
                    </a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('users.profile', username=g.current_user['username']) }}"
                            class="dropdown-item">
                            <i class="far fa-id-card"></i>
                            My Profile
                        </a>
                        <a href="{{ url_for('auth.logout') }}" class="dropdown-item">
                            <i class="fas fa-power-off" title="Log Out"></i> Log Out
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_draws_drop" data-toggle="dropdown">
                        <i class="far fa-map"></i>
                        Draws
                    </a>
                    <div class="dropdown-menu">
                        <a href="{{ url_for('draws.index') }}" class="dropdown-item">
                            <i class="fas fa-folder-open" title="Available Draws"></i> Overview
                        </a>
                        <a href="{{ url_for('draws.create') }}" class="dropdown-item">
                            <i class="fas fa-plus-square" title="Add Draw"></i> Create
                        </a>
                    </div>
                </li>
                {% if 'Site Admin' in g.current_user.roles %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_admin_drop" data-toggle="dropdown">
                        <i class="fas fa-cog"></i> Admin
                    </a>
                    <div class="dropdown-menu">
                        {% if 'User Manager' in g.current_user.roles %}
                        <a href="{{ url_for('users.admin_list') }}" class="dropdown-item">
                            <i class="fas fa-users"></i> User Manager</a>
                        {% endif %}
                    </div>
                </li>
                {% endif %}
                {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{{ url_for('auth.login') }}">
                        <i class="fas fa-key" title="Log In"></i> Log In
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }} alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>