{% extends 'base.html' %}
{% block header %}
<h2>Log In</h2>
{% endblock %}

{%block content %}
<form method="post">
    <div class="container">
        {% if 'AUTHENTICATION_METHODS' in config and 'v' in config['AUTHENTICATION_METHODS'] %}
        <div class="row form-group">
            <div class="col-sm-4">OAuth</div>
            <div class="col-sm-4">
                <a type="button" class="btn btn-success form-control" href="{{ v_auth_url|safe }}">
                    <img src="{{ url_for('static', filename='v-logo-16.png') }}" class="img-fluid" />
                    v.enl.one
                </a>
            </div>
            <div class="col-sm-4"></div>
        </div>
        {% endif %}
        {% if 'AUTHENTICATION_METHODS' in config and 'password' in config['AUTHENTICATION_METHODS'] %}
        <div class="row form-group">
            <div class="col-sm-2"><label for="username">Username</label></div>
            <div class="col-sm-10">
                <input type="text" name="username" id="username" required class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><label for="password">Password</label></div>
            <div class="col-sm-10">
                <input type="password" name="password" id="password" required class="form-control" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="submit" class="form-control btn btn-primary">Log In</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
        {% endif %}
    </div>
</form>
{% if 'REGISTRATION_ALLOWED' in config and config['REGISTRATION_ALLOWED'] == True and 'AUTHENTICATION_METHODS' in config
and 'password' in config['AUTHENTICATION_METHODS'] %}
<div class="container">
    <p>If you don't have an account, you need to <a href="{{ url_for('auth.register') }}">register</a> first.</p>
</div>
{% endif %}
{% endblock %}