{% extends 'base.html' %}

{% block header %}
<h2>Register</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="container">
        <div class="row form-group">
            <div class="col-sm-2"><label for="username">Username</label></div>
            <div class="col-sm-8">
                <input type="text" name="username" id="username" required class="form-control"
                    placeholder="Enter desired username" />
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-2"><label for="password">Password</label></div>
            <div class="col-sm-8">
                <input type="password" name="password" id="password" required class="form-control" />
            </div>
            <div class="col-sm-2">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-success form-control">Register</button>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>
</script>
{% endblock %}