{% for user in users %}
{% if not user.id == g.current_user['id'] and not user.id in blacklisted_user_ids %}
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">{{ user.username }}</div>
    <div class="col-sm-2 text-center">
        <button class="btn-sm btn-primary" title="Read-only Access" type="button">
            <a href="{{ url_for('draws.add_share', id=draw_id, with=user.id, mode='read') }}" class="bg-primary text-light">
                <i class="far fa-times-circle"></i>
            </a>
        </button>
        <button class="btn-sm btn-primary" title="Write Access" type="button">
            <a href="{{ url_for('draws.add_share', id=draw_id, with=user.id, mode='write') }}" class="bg-primary text-light">
                <i class="far fa-check-circle"></i>
            </a>
        </button>
    </div>
</div>
{% endif %}
{% endfor %}