{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Create new Draw{% endblock %}</h2>
{% endblock %}

{% block content %}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"><label for="title">Title</label></div>
            <div class="col-sm-10"><input type="text" class="form-control" name="title" id="title" required /></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="json">JSON Data</label></div>
            <div class="col-sm-10"><textarea class="form-control" name="json" id="json" required rows="8"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="share_mode">Sharing Mode</label></div>
            <div class="col-sm-10">
                <select name="share_mode" id="share_mode" class="form-control">
                    <option value="public" selected>Public</option>
                    <option value="unlisted">Unlisted</option>
                    <option value="explicit">Explicit</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary">
                <i class="far fa-save"></i> Save Draw
            </button>
        </div>
    </div>
</form>
{% endblock %}