{% extends 'base.html' %}
{% block header %}
<h2>{% block title %} {{ draw.title }}{% endblock %}</h2>
<h3>Edit Draw</h3>
{% endblock %}
{% block content %}
<form method="post">
    <h4>Content</h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <label for="title">Title</label>
            </div>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title" id="title" value="{{ draw.title }}" required />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="json">JSON Data</label></div>
            <div class="col-sm-10">
                <textarea class="form-control" name="json" id="json" required rows="8">{{ draw.json }}</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"><label for="share_mode">Sharing Mode</label></div>
            <div class="col-sm-10">
                <select name="share_mode" id="share_mode" class="form-control">
                    <option value="public" {{ 'selected' if draw.share_mode=='public' }}>Public</option>
                    <option value="unlisted" {{ 'selected' if draw.share_mode=='unlisted' }}>Unlisted</option>
                    <option value="explicit" {{ 'selected' if draw.share_mode=='explicit' }}>Explicit</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save Changes</button>
        </div>
    </div>

    <h4>Existing Shares</h4>
    <div class="container">
        <div class="row text-small-center font-weight-bold">
            <div class="col-sm-8">User</div>
            <div class="col-sm-2">Access</div>
            <div class="col-sm-2 text-center">Actions</div>
        </div>
        {% for share in shares %}
        <div class="row text-small">
            <div class="col-sm-8">{{ share.username }}</div>
            <div class="col-sm-2">
                {% if share.can_edit %}
                <i class="far fa-check-circle" title="Write Access"></i> Write
                {% else %}
                <i class="far fa-times-circle" title="Read-only Access"></i> Read-only
                {% endif %}
            </div>
            <div class="col-sm-2 text-center">
                <a href="{{ url_for('draws.delete_share', id=draw.id, share_id=share.share_id) }}"
                    class="btn-sm btn-danger" title="Remove">
                    <i class="far fa-trash-alt"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <h4>Share Draw with User</h4>
        <div class="container">
            <script>
                function add_share_search(str) {
                    result_div = document.getElementById('share_search_result');
                    if (str.length == 0) {
                        result_div.innerHTML = "";
                        return;
                    }

                    var request = new XMLHttpRequest();
                    request.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            result_div.innerHTML = this.responseText;
                        }
                    }

                    request.open("GET", "{{ url_for('draws.add_share_search', id=draw.id) }}?q=" + str, true);
                    request.send();
                }
            </script>
            <div id="share_search_result"></div>
            <div class="row">
                <div class="col-sm-2">
                    Enter Username
                </div>
                <div class="col-sm-10">
                    <input type="text" id="share_search" class="form-control" onkeyup="add_share_search(this.value)" />
                </div>
            </div>
        </div>
</form>
{% endblock %}