{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Available Draws{% endblock %}</h2>
{% endblock %}

{%block content %}
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center">Added</th>
                <th class="text-center">Author</th>
                <th>Title</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for draw in draws %}
            <tr class="small">
                <td class="text-center">{{ draw.added|strftime('%d.%m.%Y %R') }}</td>
                <td class="text-center">
                    <a href="{{ url_for('users.profile', username=draw.author_name) }}">{{ draw.author_name }}</a>
                </td>
                <td><a href="{{ url_for('draws.view', id=draw.id) }}">{{ draw.title }}</a></td>
                <td class="text-center">
                    <a href="{{ url_for('draws.view', id=draw.id) }}" title="View"><i class="far fa-file"></i></a>
                    {% if draw.can_edit %}
                    <a href="{{ url_for('draws.edit', id=draw.id) }}" title="Edit"><i class="far fa-edit"></i></a>
                    <a href="#" data-toggle="modal" data-target="#modal-delete-draw-{{ draw.id }}" title="Delete">
                        <i class="far fa-trash-alt"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% if draw.can_edit %}
            <div class="modal fade" id="modal-delete-draw-{{ draw.id}}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{{ url_for('draws.delete', id=draw.id) }}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete Draw</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the <em>{{ draw.title }}</em> draw? This cannot be
                                undone.
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Delete Draw</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}