{% extends 'base.html' %}
{% block header %}
<h2>{% block title %} {{ draw.title }}{% endblock %}</h2>
<h3>Draw by {{ draw.author_name }}</h3>
{% endblock %}
{% block content %}
<div class="container bg-light">
    <code id="json_draw_data">{{ draw.json }}</code>
</div>
<script>
    function copyDrawData() {
        draw_data_element = document.getElementById('json_draw_data');
        draw_data = draw_data_element.innerHTML;

        navigator.clipboard.writeText(draw_data);
    }
</script>
<nav class="navbar navbar-expand bg-dark navbar-dark fixed-bottom">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="copyDrawData()" title="Copy draw data to clipboard">
                <i class="far fa-copy"></i> Copy
            </a>
        </li>
        {% if can_edit %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('draws.edit', id=draw.id) }}">
                <i class="far fa-edit"></i> Edit
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('draws.delete', id=draw.id) }}">
                <i class="far fa-trash-alt"></i> Delete
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}