{% extends 'base.html' %}
{% block header %}
<h2>{{ user_data.username }}</h2>
<h3>User Profile</h3>
{% endblock %}

{% block content %}
<div class="container">
    <h4>Statistics</h4>
    <div class="row">
        <div class="col-sm-2"><strong>Total Draws</strong></div>
        <div class="col-sm-1 text-center">{{ user_data.draw_count_total }}</div>
        <div class="col-sm-2"><strong>Public Draws</strong></div>
        <div class="col-sm-1 text-center">{{ user_data.draw_count_public }}</div>
        <div class="col-sm-6"></div>
    </div>
</div>
{% if user_data.v_enlid %}
<div class="container">
    <h4>V Info</h4>
    <div class="row">
        <div class="col-sm-2"><strong>Verified</strong></div>
        <div class="col-sm-1 {{ 'text-success' if user_data.v_verified else 'bg-warning' }} text-center">
            <i class="far {{ 'fa-check-circle' if user_data.v_verified else 'fa-cross-circle' }}"></i>
        </div>
        <div class=col-sm-9"></div>
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>V-Level</strong></div>
        <div class="col-sm-1 text-center">{{ user_data.v_level }}</div>
        <div class="col-sm-2"><strong>V-Points</strong></div>
        <div class="col-sm-1 text-center">{{ user_data.v_points }}</div>
        <div class="col-sm-6"></div>
    </div>
</div>
{% endif %}
{% endblock %}