{% extends 'base.html' %}
{% block header %}
<h1>{{ user_data.username }}</h1>
<h2>Edit User</h2>
{% endblock %}
{% block content %}
<h3>Roles</h3>
<form method="POST" action="{{ url_for('users.admin_edit', id=user_data.id) }}">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Role Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td class="text-center"><input type="checkbox" name="roles[]" value="{{ role.id }}" {{ 'checked ' if
                        role.id in user_roles }} /></td>
                <td>{{ role.role_name }}</td>
                <td>{{ role.role_description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-success">Save Changes</button>
</form>
{% endblock %}