{% extends 'base.html' %}
{% block header %}
<h1>User Manager</h1>
<h2>User List</h2>
{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th class="text-center" rowspan="2">ID</th>
                <th rowspan="2">Username</th>
                <th class="text-center" rowspan="2">Banned</th>
                <th class="text-center" rowspan="2">Roles</th>
                <th class="text-center" rowspan="2">Draws</th>
                <th class="text-center" rowspan="2">Password</th>
                <th class="text-center" colspan="3">v.enl.one</th>
                <th rowspan="2" class="text-center">Actions</th>
            </tr>
            <tr>
                <th class="text-center">Verified</th>
                <th class="text-center">Level</th>
                <th class="text-center">Points</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr class="small">
                <td class="text-center">{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td class="text-center">
                    <i class="far {{ 'fa-check-circle' if user.banned else 'fa-circle' }}"></i>
                </td>
                <td class="text-center">{{ user.role_count }}</td>
                <td class="text-center">{{ user.draw_count }}</td>
                <td class="text-center">
                    <i class="far {{ 'fa-check-circle' if user.has_password else 'fa-circle'}}"></i>
                </td>
                <td class="text-center {{ 'text-success' if user.v_verified else 'bg-warning' }}">
                    <i class="far {{ 'fa-check-circle' if user.v_verified else 'fa-circle' }}"></i>
                </td>
                <td class="text-center">{{ user.v_level }}</td>
                <td class="text-center">{{ user.v_points }}</td>
                <td class="text-center">
                    <a href="{{ url_for('users.profile', username=user.username) }}" title="User Profile"
                        class="active">
                        <i class="far fa-id-card"></i>
                    </a>
                    <a href="{{ url_for('users.admin_edit', id=user.user_id) }}" title="Edit">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#modal-ban-{{ user.user_id }}" title="Ban User">
                        <i class="fas fa-ban"></i>
                    </a>
                    <a href="#" title="Delete" data-toggle="modal" data-target="#modal-delete-{{ user.user_id }}">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            <div class="modal" id="modal-ban-{{ user.user_id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{{ url_for('users.admin_ban', id=user.user_id) }}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Ban User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to {{ 'un' if user.banned }}ban the user <em>{{ user.username }}</em> from the site?
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">
                                    {{ 'Ban' if not user.banned else 'Unban'}} User</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal" id="modal-delete-{{ user.user_id }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{{ url_for('users.admin_delete', id=user.user_id) }}" method="POST">
                            <div class="modal-header">
                                <h4 class="modal-title">Delete User</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the user <em>{{ user.username }}</em>? This cannot be
                                undone and the user needs to re-register before being able to use the site again.
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">Delete User</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}